/configure
/man/Makefile
/missing
/install-sh
/src/.deps
/src/main.o
/config.status
/Makefile
/aclocal.m4
/depcomp
/.project
/.settings
/.autotools
/.cproject
/config.log
/autom4te.cache
/src/Makefile
/tmp
/man/Makefile.in
/src/Makefile.in
/Makefile.in
/include/config.h.in
/src/nanoleaf_controller
/include/config.h
/include/stamp-h1
